@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	color: #fff;
}

body {
	min-height: 100vh;
	background: linear-gradient(124deg, rgba(2, 0, 36, 1) 0%, rgba(5, 4, 70, 1) 14%, rgba(6, 6, 89, 1) 22%, rgba(9, 9, 121, 1) 35%, rgba(159, 4, 20, 1) 100%);
}

h1,h2,h3,h4,h5,h6 {
	color: #fff;
}

h1 {
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
}

p {
	margin: 0;
}

.layout {
	background: transparent;
	max-width: initial;
	min-height: 100vh;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0.5rem;
}

section {
	width: 100%;
	max-width: 420px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.25rem;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	padding-bottom: 1rem;
}

a,
a:visited {
	color: #fff;
}

input[type="text"],
input[type="password"],
textarea {
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	padding: 0.25rem;
}

label {
	display: flex;
	flex-direction: column;
	width: fit-content;
	color: #fff;
}

.signup {
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	height: fit-content;
	margin-top: 1rem;
}

p {
	color: #fff;
}

.instructions {
	font-size: 0.75rem;
	border-radius: 0.5rem;
	background: #656565;
	color: #fff;
	padding: 11px;
	position: relative;
	bottom: -10px;
}

.instructions>svg {
	margin-right: 0.25rem;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.hide {
	display: none;
}

.valid {
	color: limegreen;
	margin-left: 0.25rem;
}

.invalid {
	color: red;
	margin-left: 0.25rem;
}

.errmsg {
	background-color: lightpink;
	color: firebrick;
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.signin {
	margin-top: 0.5rem;
	text-align: center;
}

.sigin__inner {
	display: inline-block;
	font-size: 0.75rem;
	transition: 0.3s;
}

.sigin__inner a:hover {
	color: #1890ff;
	text-decoration: underline;
}

.alert {
	display: flex;
	gap: 5rem;
}

.alert a {
	display: flex;
	justify-content: center;
}

.signout-btn {
	font-size: 1rem;
	height: fit-content;
	background: #009688;
	border-radius: 0.5rem;
	border-color: #fff;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 1rem;
}

.footer > p {
	color: #000;
	font-size: 0.75rem;
	margin: 0;
}

.footer > p a {
	color: #000;
	transition: 0.3s;
}

.footer>p a:hover {
	color: red;
	text-decoration: underline;
}